body{
    background-color: rgb(235, 233, 233);
}


/* Centralizar o título principal e adicionar espaçamento */
.main-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Ajustar a imagem para preencher a largura do card */
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  
  
