body{
    background-color: rgb(235, 233, 233);
}


/* Centralizar o título principal e adicionar espaçamento */
.main-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .main{
    margin-top: 20px;
  }
  
  /* Ajustar a imagem para preencher a largura do card */
  .card-img-top {
    width: 100%;
    height: auto;
  }

  .container {
    margin-top: 50px;
  }

  .carousel-item img {
    width: 100%; /* Garante que a largura ocupe todo o carrossel */
    height: auto; /* Ajusta a altura de acordo com a largura */
    max-height: 300px; /* Define uma altura máxima para o carrossel */
    object-fit: cover; /* Preenche todo o espaço do carrossel */
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      height: 300px; /* Altura ajustada para telas menores */
    }
  }
  
  @media (min-width: 769px) {
    .carousel-item img {
      height: 500px; /* Altura ajustada para telas maiores */
    }
  }
  
  
  
  
